html,body
{
	margin:0;
	padding:0;
	
}
body{
	font:90% calibri,sans-serif;
	text-align:center;
}
div#header{
	background:#F3F2ED;
	
}
div#header h1{
	height:80px;
	line-height:80px;
	margin:0;
	padding-left:10px;
}
div#container{
	height:auto;
	width:700px;
	margin:0 auto;
	text-align:left;
}
div#wrapper{
	float:right;
	width:500px;
}
div#wrapper p{
	line-height:1.5;
	text-align:justify;
}
div#navi{
	float:left;
	height:500px; 
	width:200px;
	background:#F6F0E0;
}
div#navi ul{
	margin-left:10px;
	list-style-type:square;
	
}
div#navi li{
	margin-bottom:5px;
}
div#footer{
	clear:both;
	width:100%;
	background:#BFBD93;
}
div#footer p{
	margin:0;
	padding:5px 10px;
	}
	a{
		padding:5px;
		text-decoration:none;
		color:#000000;
	}
	a:hover{
		color:green;
	}
	p{
		margin:0 10px 10px;
	}
#heading{
	text-align:center;
}	
#center{
	height:auto;
	width:300px;
	margin-left:100px;
}
label,input,button,select,textarea{
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}
input,select,textarea{
	width:100%;
}
.error
{
	color:red;
	text-align:center;
}
.success{
	color:green;
	text-align:center;
}
.record{
	list-style-type:square;
}
.record li{
	margin-top:15px;
}
table{
	width:100%;
	border-collapse:collapse;
}
table td,table th{
	border:1px solid #ddd;
	padding:5px;
}
strong
{
	color:orange;
	padding:5px;
}
i
{
	color:blue;
	padding:5px;
}
